<div class="section-title">
<h2><%= t('.title') %></h2>
</div>
<div class="card container-fluid" style="max-width:319px;">
  <div class="card-body container-fluid">
    <h5 class="card-title container-fluid">Añade una nueva categoría a los productos</h5>
<div class="section-title">
  <%= render "form", category: @category %>
<div>
  <%= link_to t('common.back'), categories_path %>
</div>
</div>
  </div>
</div> 
