<p>Hola <%= @resource.email %>!</p>

<p>Si alguien te ha mandado un link para cambiar tu contraseña, puedes hacerlo desde el siguiente link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no solicitaste el cambio, ignora este mensaje.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace de arriba y crees una nueva.</p>
